div {
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    margin-bottom: 20px;
    background-color: #eee;
}

div.content {
    box-sizing: content-box;
}

div.border {
    box-sizing: border-box;
}