@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 'Gochi Hand', sans-serif;
}

body {
    background: #E0E0E0;
    padding: 2em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #FDFDFD;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 1.5em;
    border-bottom: 1px solid #CCCCCC;
}

.media {
    position: relative;
}

.site-content {
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F3F3;
    border-radius: 1em;
    position: absolute;
    top: 68%;
    left: 1.5em;
    right: 1.5em;
}

.site-content h2 {
    text-align: center;
    padding-bottom: 0.5em;
}

.site-content p {
    opacity: 0.7;
    line-height: 1.3;
    text-align: center;
}

.contact-details {
    padding: 2.5em;
    background: #F9F9F9;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.contact-details h2 {
    padding-bottom: 0.5em;
}

.contact-details p {
    opacity: 0.7;
    padding-bottom: 0.3em;
}