* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EEE;
    font: 14px/1.5 Lato, sans-serif;
    padding: 4em 2em;
    font-weight: bold;
}

.site {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.site>header,
.site>footer {
    border: 1px solid #AAA;
    padding: 2em;
    border-radius: 0.3em;
}

.site>header {
    margin-bottom: 1em;
}

.site>.site-content {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.site>.site-content>main {
    border: 1px solid #AAA;
    padding: 2em;
    border-radius: 0.3em;
    flex-grow: 7;
}

.site>.site-content>aside {
    border: 1px solid #AAA;
    padding: 2em;
    border-radius: 0.3em;
    flex-grow: 3;
}

@media (max-width:800px) {
    .site>.site-content {
        flex-direction: column;
    }
}