* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    border:2px solid green;
    padding: 1em;
    font: 14px/1.5 Lato, sans-serif;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: column;
    gap:1em;
    min-height: 90vh;
}

.flex-item{
    border: 2px solid blue;
    padding: 1.5em;
}

.container main{
    flex-grow: 1;
    flex-basis: auto;
}
